body {

    background-color: rgba(254, 230, 254);

}


.Htitle {
  color:coral;
  padding: 60px;
  font-family: "Marker Felt", fantasy ; 
  text-align: center;
  font-size: 96px;
 
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
